<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>
<body>
<h1>메인 페이지 </h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

<script>
  $(document).ready(function(){
    $('.bxslider').bxSlider( {
      mode: 'fade',
      speed: 500,
      auto: true,
      slideWidth: 800,
      autoHover: true
      }
    );
  });
</script>

<div>
  <ul class="bxslider">
    <li th:each="x : ${list}">
      <img th:src="${x.imageInfo}" th:if="${x.imageInfo != null}"/>
    </li>
  </ul>
</div>



</body>
</html>
